---
import Header from "../components/Header.astro";
import Layout from "../layouts/layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Home">
  <Header />
  <Section>Hello world</Section>
</Layout>
