---
import Header from "../components/Header.astro";
import Layout from "../layouts/layout.astro";
import Section from "../components/Section.astro";
import Categories from "../components/Categories.astro";
---

<Layout title="Home">
  <Header />
  <main>
    <Categories />
  </main>
</Layout>
