<div
  class="hero min-h-screen"
  style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);"
>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="pb-16">
      <ul class="flex justify-center items-center text-sm gap-3 h-24 pb-16">
        <li>
          <button class="btn btn-secondary rounded-full">Descubre</button>
        </li>
        <li>
          <button class="btn btn-secondary rounded-full">Animaciones</button>
        </li>
        <li>
          <button class="btn btn-secondary rounded-full">Tendencias</button>
        </li>
        <li><button class="btn btn-secondary rounded-full">Móvil</button></li>
        <li>
          <button class="btn btn-secondary rounded-full"
            >Perfil de Usuario</button
          >
        </li>
        <li>
          <button class="btn btn-secondary rounded-full">Tipografía</button>
        </li>
        <li>
          <button class="btn btn-secondary rounded-full">Diseño Web</button>
        </li>
        <li><button class="btn btn-secondary rounded-full">Widgets</button></li>
        <li>
          <button class="btn btn-secondary rounded-full"
            >Paleta de Colores</button
          >
        </li>
      </ul>
      <h1 class="mb-5 text-5xl font-bold pt-4">
        Entra en un de la interactivida y la fluidez
      </h1>
    </div>
  </div>
</div>
