<header class="z-10 flex py-2 px-10 top-0 justify-between w-full items-center">
  <div class="flex flex-grow basis-0">
    logo
    <img />
  </div>
  <nav>
    <ul
      class="flex justify-center items-center [&>li>a]:inline-block [&>li>a]:px-4"
    >
      <li><a href="" class="link">Home</a></li>
      <li><a href="" class="link">Diseños</a></li>
      <li><a href="" class="link">Productos</a></li>
    </ul>
  </nav>
  <nav class="flex flex-grow basis-0 justify-end">
    <ul class="flex items-center gap-2">
      <li><a href="" class="btn btn-account">Log in</a></li>
      <li><a href="" class="btn btn-account">Sing up</a></li>
    </ul>
  </nav>
</header>
