<header class="flex py-6 pt-4 justify-between w-full h-full bg-base-200">
  <div class="flex gap-4">
    <h1 class="text-4xl text-black">Logo</h1>
    <img />
  </div>
  <nav>
    <ul class="hover:text-center justify-center py-2 gap-3 text-black flex">
      <li><a href="">Caza Talentos</a></li>
      <li><a href="">Dise침adores</a></li>
      <li><a href="">Inspiraci칩n</a></li>
      <li><a href="">Aprende Dise침o</a></li>
      <li><a href="">Hazte Profesional</a></li>
    </ul>
  </nav>
  <nav class="flex w-screen lg:w-48 h-full flex-grow basis-0 justify-end">
    <ul class="md:flex flex items-center gap-3">
      <li>
        <a href="" class="btn btn-primary">Iniciar Sesi칩n</a>
      </li>
      <li>
        <a href=" " class="btn btn-secondary text-cyan-50">Registrate</a>
      </li>
    </ul>
  </nav>
</header>
