<header class="z-10 flex px-10 justify-between fixed w-full top-0">
  <div class="flex flex-grow basis-0">
    logo
    <img />
  </div>
  <nav>
    <ul
      class="flex justify-center items-center [&>li>a]:inline-block [&>li>a]:px-4"
    >
      <li><a href="">Home</a></li>
      <li><a href="">Diseños</a></li>
      <li><a href="">Productos</a></li>
    </ul>
  </nav>
  <nav class="flex flex-grow basis-0 justify-end">
    <ul class="flex items-center gap-2">
      <li><a href=""></a>Button1</li>
      <li><a href=""></a>Button2</li>
      <li><a href=""></a>Button2</li>
    </ul>
  </nav>
</header>
